<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/url_page_style.css" rel="stylesheet">
    <link href="~/LayoutStyle.css" rel="stylesheet">
    <link href="~/AboutViewStyle.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="/Login">Login</a>
        <a href="/AboutView">About View</a>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>
